<div class="users-edit">
  <h2>プロフィールを編集</h2>
  <div class="form">
    <%= form_with(model:@user, local:true) do |form| %>
      <ul>
        <li><%= form.label :name, "名前" %></li>
        <li><%= form.text_field :name, class: "field" %></li>
        <li><%= form.label :email, "メールアドレス" %></li>
        <li><%= form.text_field :email, class: "field" %></li>
        <li><%= form.label :password, "パスワード" %></li>
        <li><%= form.password_field :password, placeholder: "新しいパスワード", class: "field" %></li>
        <li><%= form.password_field :password_confirmation, placeholder: "パスワード確認用", class: "field" %></li>
        <li class="text-right">
          <%= form.submit "保存", class: "btn" %>
        </li>
      </ul>
    <% end %>
  </div>
</div>
