<div class="edit-main">
  <h3 class="page-title">プロフィールを編集</h3>
  <hr>
  <%= form_with(model:@user, local:true) do |form| %>
    <h3><%= form.label :name, "名前" %></h3>
    <%= form.text_field :name, class: "form" %>
    <h3><%= form.label :email, "メールアドレス" %></h3>
    <%= form.text_field :email, class: "form" %>
    <h3><%= form.label :password, "パスワード" %></h3>
    <%= form.password_field :password, placeholder: "新しいパスワード", class: "form" %>
    <%= form.password_field :password_confirmation, placeholder: "確認用", class: "form" %>
    <%= form.submit "保存", class: "submit" %>
  <% end %>
</div>
