<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="user-entry">
  <div class="catch-copy">
    <h1 class="catch-copy-title">facebook</h1>
    <h2 class="catch-copy-content">Facebookを使うと、友達や同僚、同級生、仲間たちとつながりを深められます。ケータイ、スマートフォンからもアクセスできます。</h2>
  </div>
  <div class="form">
    <%= form_with(model: @user, local: true) do |f| %>
      <ul>
      <li><%= f.label :email, "名前" %></li>
      <li><%= f.text_field :name, class: "field" %></li>

      <li><%= f.label :email, "メールアドレス" %></li>
      <li><%= f.email_field :email, class: "field" %></li>

      <li><%= f.label :password, "パスワード" %></li>
      <li><%= f.password_field :password, class: "field" %></li>

      <li><%= f.label :password, "パスワード確認用" %></li>
      <li><%= f.password_field :password_confirmation, class: "field" %></li>

      <li class="form-btn">
        <%= f.submit "アカウント登録", class: "btn" %>
      </li>
      </ul>
    <% end %>
  </div>
</div>
