<div class="posts-edit">
  <h2>投稿を編集</h2>
  <div class="form">
    <%= form_with(model:@post, local:true) do |form| %>
      <%= form.text_area :content, class: "text-area", rows: 5 %>
      <%= image_tag(@post.image.url) if @post.image && @post.image.url %>
      <%= form.file_field :image, class: "file-field" %>
      <%= form.hidden_field :image_cache %>
      <%= form.submit "更新", class: "btn" %>
      <div class="text-right">
        <%= link_to "削除", post_path(@post), method: :delete, data: {confirm: "本当に削除しますか？"} %>
      </div>
    <% end %>
  </div>
</div>
