<div class="posts-new">
  <h2>新規作成</h2>
  <div class="form">
    <%= form_with(model:@post, local:true) do |form| %>
      <%= form.text_area :content, placeholder: "#{current_user.name}さん、その気持ち、シェアしよう", class: "text-area", rows: 5 %>
      <div class="file-field">
      <%= form.file_field :image %>
      <%= form.hidden_field :image_cache %>
      </div>
      <div class="form-btn">
      <%= form.submit "投稿", class: "btn" %>
      </div>
    <% end %>
  </div>
</div>
