  <nav>
    <%= image_tag "facebooklogoo1-1.jpg", width: "85px", class: "logo" %>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <% if logged_in? %>
    <ul id="nav-link">
      <li><%= link_to "ホーム", posts_path, class: "nav-link" %></li>
      <li><%= link_to current_user.name, user_path(current_user.id) %></li>
      <li><%= link_to "作成", new_post_path %></li>
      <li><%= link_to "ログアウト", session_path(current_user.id), method: :delete %></li>
    <% else %>
      <li><%= link_to "Sign up", new_user_path %></li>
      <li><%= link_to "Login", new_session_path %></li>
    <% end %>
    </ul>
  </nav>
