<!DOCTYPE html>
<html>
  <head>
    <title>SessionLogin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="header">
    <% unless request.path == '/sessions/new' || request.path == '/users/new' || request.path == '/sessions' || request.path == '/users' %>
      <%= render partial: "layouts/header" %>
    <% end %>
  </header>
  <div class="container">
    <%= yield %>
  </div>
  <footer class="footer">
    <p>Copyright © 2018 DIVE INC All RIGHTS RESERVED.</p>
  </footer>
  </body>
</html>
